<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>Resend confirmation instructions</h2>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, role: "form" }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field form-group">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true, class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Renvoyer l'email de confirmation", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>