<%= @summoner %>
<hr/>
<%= @stats %>
<hr/>

<%= @tier_image %>
<!--<%= %>-->

<div class="page-header">
  <h1><%= @summoner.name %></h1>
  <small>
    <span class="label label-primary"><%= @account.region.upcase %></span>
    <span class="label label-primary style-<%= @tier %>"><%= @solo_rank %></span>
    <% if @isPlaying %>
    <span class="label label-danger">
      <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
        <a href="#" class="label-link" >Playing</a>
    </span>
    <% end %>
  </small>
</div>
 <% #Check if the user already have this account %>
<% if user_signed_in? %>
  <% if @account.users.include?(current_user) %>
    <%= render "accounts_users/removeAccount" %>
  <% else %>
    <%= render "accounts_users/addAccount" %>
  <% end %>

 <%= render "accounts_trackgroups/addTrackgroup" %>
 <hr/>
<% end %>
 
