<span class="list-group-item">
  <div class="row">
    <div class="col-md-1">
      <img src="img/braum.png" class="img-responsive" alt="Image News">
    </div>
    <div class="col-md-3">
      <% if match[:is_won] %>
      <span class="victory">Victoire</span><br/>
      <% else %>
      <span class="defeat">Defaite</span><br/>
      <% end %>
      <span class="map_name">Faille de l'invocateur</span>
      <span class="game_date">05.03.2011 16:50</span>
    </div>
    <div class="col-md-2">
      <%= match[:kills] %> tués<br/>
      <%= match[:deaths] %> morts<br/>
      <%= match[:assists] %> assistances
    </div>
    <div class="col-md-2">
      <%= match[:gold] %> or<br/>
      <%= match[:cs] %> minions
    </div>
    <div class="col-md-2">
      <ul class="list-group row">
        <% match[:items].each do |item| %>
        <li class="list-group-item col-xs-4">
          <img src="<%= item %>" class="img-responsive" alt="obj1"/>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-2">
      <a href="#">Détails du match</a>
    </div>
  </div>
</span>