<span class="list-group-item">
  <div class="row">
    <div class="col-md-1">
     <%= image_tag match[:champion_played_image] , class: "img-responsive", width: "100%" %>
    </div>
    <div class="col-md-3">
      <% if match[:is_won] %>
      <span class="victory">Victoire</span><br/>
      <% else %>
      <span class="defeat">Defaite</span><br/>
      <% end %>
      <span class="map_name"><%= match[:map_name]%></span>
      <br/>
      <span class="game_date"><%= match[:date] %> </span>
    </div>
    <div class="col-md-2">
      <%= match[:kills] %> tués<br/>
      <%= match[:deaths] %> morts<br/>
      <%= match[:assists] %> assistances
    </div>
    <div class="col-md-2">
      <%= match[:gold] %> or<br/>
      <%= match[:cs] %> minions
    </div>
    <div class="col-md-2">
      <ul class="list-group row">
        <% match[:items].each do |item| %>
        <li class="list-group-item col-xs-4 item-history">
          <%= image_tag item, class: "img-responsive item-history", width: "100%" %>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-2">
      <button class="btn btn-default btn-details-history" >Détails du match</button>
    </div>
  </div>
  <div class="row details well" >
    <div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Champion</th>
          <th>Joueur</th>
        </tr>
      </thead>
        <tbody>
          <% match[:team1].each do |player| %>
          <tr>
            <td>
              <%= image_tag player[:champion_played_image] , class: "img-responsive", width: "100%" %>
            </td>
            <td>
              <%= player[:player_name] %>
            </td>
          <tr>
          <% end %>
      </tbody>
      
    </table>
    </div>
  </div>
</span>