<span class="list-group-item">
  <div class="row">
    <div class="col-md-1">
      <%= image_tag match[:champion_played_image] , class: "champion-image", width: "100%" %>
    </div>
    <div class="col-md-3">
      <% if match[:is_won] %>
        <div class="victory">Victoire</div>
      <% else %>
        <div class="defeat">Defaite</div>
      <% end %>
      <div class="map_name"><%= match[:map_name]%></div>
      <% minutes = match[:duration] /60 %>
      <% secondes = match[:duration] %60 %>
      <div class="game_duration">Durée <%= minutes %>:<%= secondes %> </div>
      <div class="game_date"><small><%= match[:date] %></small></div>
    </div>
    <div class="col-md-2">
      <div><%= match[:kills] %> tués</div>
      <div><%= match[:deaths] %> morts</div>
      <div><%= match[:assists] %> assistances</div>
    </div>
    <div class="col-md-2">
      <div><%= match[:gold] %> or</div>
      <div><%= match[:cs] %> minions tués</div>
    </div>
    <div class="col-md-2">
      <ul class="list-group row borderless">
        <% match[:items].each do |item| %>
        <li class="list-group-item col-xs-4 item-history nopadding">
          <%= image_tag item, class: "item-image" %>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-2">
      <button class="btn btn-default btn-details-history" >Détails</button>
    </div>
  </div>
  <div class="row details well" sytle="display:none" >
    <div class="col-md-4">
      <h6>Equipe bleue</h6>
      <table class="table table-striped">
        <% match[:team1].each do |player| %>
        <tr>
          <td>
            <%= image_tag player[:champion_played_image] , class: "champion-image" %>
          </td>
          <td>
            <%= link_to player[:player_name],'/accounts/'+@region+'/'+player[:id].to_s %>
          </td>
        <tr>
          <% end %>
      </table>
    </div>
    <div class="col-md-4">
      <% if match[:team2].count > 0 %>
      <h6>Equipe violette</h6>
      <table class="table table-striped">
        <% match[:team2].each do |player| %>
        <tr>
          <td>
            <%= image_tag player[:champion_played_image] , class: "champion-image" %>
          </td>
          <td>
            <%= link_to player[:player_name],'/accounts/'+@region+'/'+player[:id].to_s %>
          </td>
        <tr>
          <% end %>
      </table>
      
      <% else %>
      <h6 class="vcenter">Equipe de bots</h6>
      
      <% end %>
      
    </div>
    <div class="col-md-4">
      <h6>Statistiques invocateur</h6>
      <table class="table table-striped">
        <tr>
          <td>Or gagné</td>
          <td><%= match[:gold] %></td>
        </tr>
        <tr>
          <td>Tourelles tuées</td>
          <td><%= match[:turret_kills] %></td>
        </tr>
        <tr>
          <td>Dégats subits</td>
          <td><%= match[:damage_taken] %></td>
        </tr>
        <tr>
          <td>Dégats infligés</td>
          <td><%= match[:damage_dealt] %></td>
        </tr>
        <tr>
          <td>Balises de vision placées</td>
          <td><%= match[:wards_placed] %></td>
        </tr>
        <tr>
          <td>Balises de vision tuées</td>
          <td><%= match[:wards_killed] %></td>
        </tr>
      </table>

    </div>
  </div>
</span>