<span class="list-group-item">
  <div class="row">
    <div class="col-md-1">
      <%= image_tag match[:champion_played_image] , class: "champion-image", width: "100%" %>
    </div>
    <div class="col-md-3">
      <% if match[:is_won] %>
      <span class="victory">Victoire</span><br/>
      <% else %>
      <span class="defeat">Defaite</span><br/>
      <% end %>
      <span class="map_name"><%= match[:map_name]%></span>
      <br/>
      <span class="game_date"><%= match[:date] %> </span>
    </div>
    <div class="col-md-2">
      <%= match[:kills] %> tués<br/>
      <%= match[:deaths] %> morts<br/>
      <%= match[:assists] %> assistances
    </div>
    <div class="col-md-2">
      <%= match[:gold] %> or<br/>
      <%= match[:cs] %> minions
    </div>
    <div class="col-md-2">
      <ul class="list-group row">
        <% match[:items].each do |item| %>
        <li class="list-group-item col-xs-4 item-history nopadding">
          <%= image_tag item, class: "item-image" %>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-2">
      <button class="btn btn-default btn-details-history" >Détails</button>
    </div>
  </div>
  <div class="row details well" sytle="display:none" >
    <div class="col-md-4">
      <h6>Equipe bleue</h6>
      <table class="table table-striped">
        <% match[:team1].each do |player| %>
        <tr>
          <td>
            <%= image_tag player[:champion_played_image] , class: "champion-image" %>
          </td>
          <td>
            <%= link_to player[:player_name],'/accounts/'+@region+'/'+player[:id].to_s %>
          </td>
        <tr>
          <% end %>
      </table>
    </div>
    <div class="col-md-4">
      <h6>Equipe violette</h6>
      <table class="table table-striped">
        <% match[:team2].each do |player| %>
        <tr>
          <td>
            <%= image_tag player[:champion_played_image] , class: "champion-image" %>
          </td>
          <td>
            <%= link_to player[:player_name],'/accounts/'+@region+'/'+player[:id].to_s %>
          </td>
        <tr>
          <% end %>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-striped">
        <tr>
          <td>Or gagné</td>
          <td><%= match[:gold] %></td>
        </tr>
        <tr>
          <td>Or gagné</td>
          <td><%= match[:gold] %></td>
        </tr>
        <tr>
          <td>Or gagné</td>
          <td><%= match[:gold] %></td>
        </tr>
        <tr>
          <td>Or gagné</td>
          <td><%= match[:gold] %></td>
        </tr>
        <tr>
          <td>Or gagné</td>
          <td><%= match[:gold] %></td>
        </tr>
        <tr>
          <td>Or gagné</td>
          <td><%= match[:gold] %></td>
        </tr>
      </table>

    </div>
  </div>
</span>