<% @account_id =  @mod.account.nil? ? 0 :  @mod.account.id %>
<% @nb_match =  @mod.nb_match.nil? ? 1 :  @mod.nb_match %>
<button class='close' data-dismiss='module-holder' type='button'>x</button>
<h4>Historique de match</h4>
<div class="form-group">
   <label class="col-md-4 control-label">Compte :</label>
   <div class="col-md-8">
      <select name="account_id" class="form-control acc-list">
         <optgroup label="Mes comptes">
            <% @accounts.each do |a| %>
              <% if @account_id == a.id %>
              <option selected value="<%= a.id %>"><%= a.pseudoLoL %> (<%= a.region %>)</option>
              <% else %>
              <option value="<%= a.id %>"><%= a.pseudoLoL %> (<%= a.region %>)</option>
              <% end %>
            <% end %>
         </optgroup>
         <% @trackgroups.each do |t| %>
         <optgroup label= "<%= t.name %>" >
            <% t.accounts.each do |a| %>
                <% if @account_id == a.id %>
                <option selected value="<%= a.id %>"><%= a.pseudoLoL %> (<%= a.region %>)</option>
                <% else %>
                <option   value="<%= a.id %>"><%= a.pseudoLoL %> (<%= a.region %>)</option>
                <% end %>
            <% end %>
         </optgroup>
         <% end %>
      </select>
   </div>
</div>
<div class="form-group">
   <label class="col-md-4 control-label">Nombre de matchs :</label>
   <div class="col-md-8">
      <select name="nb_match" class="form-control nb-list">
        <% for i in 1..5 %>
        <option 
          <% if @nb_match == i %>
          selected
          <% end %>
          value="<%= i %>"><%= i %>
        </option>

        <% end %>
      </select>
   </div>
</div>
<div class="form-group">
   <button class='btn btn-default pull-right save-btn'>Enregistrer</button>
</div>
