<li class="list-group-item row">
  <div class="col-md-2 thumbnail">
     <%= image_tag match[:champion_played_image] , class: "img-responsive", width: "100%" %>
  </div>
  <div class="col-md-3">
    <div class="list-group list-group-condensed">
      <% if match[:is_won] %>
      <span class="list-group-item victory">V</span>
      <% else %>
      <span class="list-group-item defeat">D</span>
      <% end %>      
      <span class="list-group-item map_name"><%= match[:map_name]%></span>
      <span class="list-group-item"><%= match[:game_sub_type]%></span>
    </div>  
  </div>
  <div class="col-md-2">
    <div class="list-group list-group-condensed">
      <span class="list-group-item"><%= match[:kills] %>/<%= match[:deaths] %>/ <%= match[:assists] %></span>
      <%gold = match[:gold]/1000 %>
      <span class="list-group-item"> <%= gold %>k</span>
    </div>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <% match[:items].each do |item| %>
    <span class="thumbnail col-md-4">
      <%= image_tag item, class: "img-responsive item-history", width: "100%" %>
    </span>
    <% end %>
  </div>
</li>