<h2>Connexion</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="field form-group">
  <%= f.label :login, value ="Votre pseudo ou email" %>
   <%= f.text_field :login, autofocus: true, class: "form-control" %>
</div>
<div class="field form-group">
  <%= f.label :password, value = "Votre mot de passe" %>
   <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
</div>
<% if devise_mapping.rememberable? %>
<div class="field checkbox">
   <%= f.label :remember_me do %>
   <%= f.check_box :remember_me  %>
  Se rappeler de moi
</div>
<% end %>
<% end %>
<div class="actions">
   <%= f.submit "Se connecter", class: "btn btn-primary" %>
</div>
<% end %>
<%= render "users/shared/links" %>