<%= form_for @information do |f| %>
<div class="field form-group">
  <%= f.label "Titre de l'article" %>
  <%= f.text_field :title, class: "form-control" %>
</div>
<div class="field form-group">
  <%= f.label "Début de l'article" %>
  <%= f.text_area :smallDescription, class: "form-control",  rows: "7" %>
</div>
<div class="field form-group">
  <%= f.label "Suite"%>
  <small>(optionel, suite du contenu raccourcis dans l'affichage complet de l'article)</small>
  
  <%= f.text_area :detailedDescription, class: "form-control",  rows: "7" %>
</div>
<div class="field form-group">
  <%= f.submit @button_text, class: "btn btn-default" %>
</div>
<% end %>