
    <%= link_to users_trackgroups_path, class:"btn btn-default btn-xs" do %>
      <i class="glyphicon glyphicon-chevron-left"></i> Retourner aux groupes
    <% end %>
<h2><%= @trackgroup.name %></h2>
    <div> 
        <%= form_for @trackgroup, url: edit_trackgroup_path(@trackgroup), html: {method: "get"}  do |f| %>
      <button type="submit" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </button> 
      <% end %>
    </div>
    <div>
      <%= form_for @trackgroup, html: {method: "delete"}  do |f| %>
     
      <button type="submit" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </button> 
      <% end %>
    </div>
    
     <%= form_for @trackgroup, :url => url_for(:controller => 'accounts_trackgroups', :action => 'createAPI'),  html: {method: "post"}  do |f| %>
    <div class="input-group dark-dropdown">

        <%= text_field_tag(:accname, "", class: "form-control", placeholder: "Chercher un invocateur...") %>
          <div class="input-group-btn">
            <button type="button" class="btn btn-primary dropdown-toggle-trackgroup" data-toggle="dropdown" aria-expanded="false">
              <span class="region-name-trackgroup"><%= @regions.first.upcase %></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <% @regions.each do |r| %> 
              <li><a class="region-selection-trackgroup"><%= r.upcase %></a></li>
              <% end %> 
          </ul>
        </div>
        <input type="hidden" id="region-trackgroup" name="region" value=<%= @regions.first.upcase %> />
        <span class="input-group-btn">
          <%= submit_tag("Ajouter cet ami au groupe", class: "btn btn-primary") %>
        </span>
        </div>
      <% end %>
    <h3>Amis du groupe</h3>
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nom du compte</th>
          <th>Serveur</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      <%= render @accounts %>
      </tbody>
    </table>