<!DOCTYPE html>
<html>
   <head>
      <title>LoLoRoR</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag 'loloror', media:'all', 'data-turbolinks-track' => true %>
      <%= stylesheet_link_tag 'theme.min', media:'all', 'data-turbolinks-track' => true %>
   </head>
   <body>
      <div id="wrap">
         <div id="main">
           <!-- NavBar -->
           <%= render 'layouts/navbar' %>
           <!-- end NavBar -->
           
           <!-- SearchBar -->
           <%= render 'layouts/searchbar' %>
           <!-- end SearchBar -->
           <div class="container">
             <%= render 'layouts/alerts' %>
                <%= yield %>
             </div>
          </div>
        </div>
      <div id="footer">
         <div class="container">
            <p class="text-muted credit">League of legends on Rails<br/>by Nicolas Hugenin, Joé Butikofer et Christophe Bolinhas</p>
         </div>
      </div>
   </body>
</html>