<%= form_for @account do |f| %>
<p>
  <%= f.label :pseudoLoL %>
  <%= f.text_field :pseudoLoL %>
</p>
<p>
  <%= f.label :region %>
  <%= f.select(:region, options_for_select([['EUW', 'EUW'], ['NA', 'NA'],['EUNE', 'EUNE'],['BR', 'BR'],['TR', 'TR'],['RU', 'RU'],['LAN', 'LAN'],['LAS', 'LAS'],['OCE', 'OCE']], 1)) %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>