<h1><%= @account.pseudoLoL %> from <%= @account.region %></h1>

<% if user_signed_in? %>

<% #Check if the user already have this account %>
<% if @account.users.include?(current_user) %>
<%= render "accounts_users/removeAccount" %>
<% else %>
<%= render "accounts_users/addAccount" %>
<% end %>
  
<%= render "trackgroups_users/addTrackgroup" %>
<% end %>