<h1><%= @account.pseudoLoL %> from <%= @account.region %></h1>

<% if user_signed_in? %>

<% #Check if the user already have this account %>
<% if @account.users.include?(current_user) %>
<%= render "removeUser" %>
<% else %>
<%= render "addUser" %>
<% end %>
  
<%= render "addTrackgroup" %>
<% end %>